<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body style="background: #EDE7F6 !important">
    <table style="width:100%;">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <td style="border-collapse: collapse; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                <img src="http://pod.translytix.com/src/assets/logo_final.png">
            </td>
            <!--<td style="border-collapse: collapse; text-align: right !important; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                {{subject}}
            </td>-->
        </tr>
    </table>
    <table style="width:100%; padding:20px">
        <tr style="padding:8px">
            <td style="width:100%">
                {{body}}
            </td>
        </tr>
    </table>
</body>

</html>