<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body style="background: #EDE7F6 !important">
    <table style="width:100%;">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <td style="border-collapse: collapse; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                <img src="http://pod.translytix.com/src/assets/logo_final.png">
            </td>
            <td style="border-collapse: collapse; text-align: right !important; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                Bid Made Successfully
            </td>
        </tr>
    </table>
    <table style="width:100%; padding:20px">
        <tr style="padding:8px">
            <td style="width:25%">
                <strong>Origin City:</strong> {{fromCity}}
            </td>
            <td style="width:25%">
                <strong>Origin State:</strong> {{fromState}}
            </td>
            <td style="width:25%">
                <strong>Dest City:</strong> {{toCity}}
            </td>
            <td style="width:25%">
                <strong>Dest State:</strong> {{toState}}
            </td>
        </tr>
        <tr style="padding:8px">
            <!--<td style="width:25%">
                <strong>Lane Date From:</strong> {{laneDateFrom}}
            </td>
            <td style="width:25%">
                <strong>Lane Date To:</strong> {{laneDateTo}}
            </td>-->
            <td style="width: 25%">
                <strong>Distance (Miles):</strong> {{distanceMiles}}
            </td>
            <td style="width: 25%">
                <strong>Carrier: </strong> {{name}}
            </td>
            <td style="width: 25%">
            </td>
            <td style="width: 25%">
            </td>
        </tr>
    </table>
    <table style="width:95%; text-align: center !important;border-collapse: collapse; margin-bottom: 50px !important; margin:20px !important; margin-right: 20px !important">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Refrigerated</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Single 1Way rate ($)</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Single RT rate ($)</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">1Way team rate ($)</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">RT team rate ($)</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Drop Trailors (Load)</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Drop Trailors (Unload)</th>
        </tr>
        <tr style="border-bottom: 1px solid rgba(0,0,0,0.30); border-collapse: collapse; background: #FAFAFA; color: rgba(0, 0, 0, 0.87)">
            <td style="border-collapse: collapse; padding:10px;">{{refridgerated}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{WayLH}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{RTLH}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{oneWayTeamRate}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{roundTripTeamRate}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{dropTrailersLoadReq}}</td>
            <td style="border-collapse: collapse; padding:10px;">{{dropTrailersUnlodReq}}</td>
        </tr>
    </table>

    <table style="width:100%; margin: 10px !important">
        <tr>
            <td>
                <strong>Additional Informations:</strong>
                <br>
                <br> {{addlInfo}}
            </td>
        </tr>
    </table>

    <table style="width:100%; margin: 20px !important">
        <tr>
            <td>
                <strong>Regards,</strong>
                <br>
                <br>
                <strong>Translytix</strong>
            </td>
        </tr>
    </table>
    <!-- 	<p>Shipment Details</p>
<p>depot_id&nbsp;&nbsp;&nbsp;{{depot_id }}</p>
<p>Shipment&nbsp;&nbsp;&nbsp;{{Shipment}}</p>
<p>Delivery&nbsp;&nbsp;&nbsp;{{Delivery}}</p>
<p>Shipto&nbsp;&nbsp;&nbsp;{{Shipto}}</p>
<p>{{Regards}}</p>
<p>{{TranslytixPOD}}</p> -->
</body>

</html>