<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body style="background: #EDE7F6 !important">
    <table style="width:100%;">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <td style="border-collapse: collapse; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                <img src="http://pod.translytix.com/src/assets/logo_final.png"  style="height:50px">
            </td>
            <td style="border-collapse: collapse; text-align: right !important; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                Thank You
            </td>
        </tr>
    </table>
    <table style="width:100%; padding:20px">
        <tr style="padding:8px">
            <td style="width:100%">
                {{Notification.body}}
            </td>
        </tr>
    </table>
    <table width="350" class="button" style="margin: 0px 0px 10px 30px;">
        <tr>
            <td class="btn-read-online" style="text-align: center; background-color: #4DB24C; padding: 10px 15px; border-radius: 5px;">
                <a href="http://pod-configurations.s3.amazonaws.com/About/{{shipperDoc.uri}}" style="color: #fff; font-size: 18px; letter-spacing: 1px; text-decoration: none; text-shadow: 0px 2px 2px #4db24c; font-family: Arial, Helvetica, sans-serif;" target="_blank">View Document</a>
            </td>
        </tr>
    </table>
</body>

</html>